/**
 * Overrides
 */
body {
    font-family: 'Cardo', serif;
    background-color:#182c43;
    margin-bottom: 3em;
}

.container {
    background-color: white;
    box-shadow: 0px 0px 25px black;
    padding-left: 3em;
    padding-right: 3em;
}

br {
    line-height: 75%;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/**
 * Utilities
 */
.center {
    float: center;
    text-align: center;
}

.inline-header {
    margin-bottom: 2rem;
}

.inline-header * {
    display: inline-block;
    margin: 0 0 0 0;
}

.inline-header h4:after {
    content:",\00a0";
}

.description {
    margin-left: 2em;
}

/* On any device supporting columns, enable the vertical center util */
@media (min-width: 550px) {
    .vertical-center-container {
        display: flex;
        align-items: center;
        min-width: 150px;
    }
}

/**
 * header
 */
.header {
    margin-top: 1em;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 1em;
}


/**
 * Navigation Menu
 */
#navigation li:after {
    padding-left: 1em;
    padding-right: 1em;
}

#navigation li:after {
    content: "•";
}

#navigation li:last-child:after {
    content: "";
}

#navigation ul {
    margin-top: 0px;
    margin-bottom: 0px;
    list-style-type: none;
}

#navigation li {
    display: inline;
}

#navigation a {
    text-decoration: none;
    color: black;
    outline: none;
    line-height: 200%;
}

#navigation a:hover {
    color: black;
}

/**
 * page titles
 */
.page-title-container {
    padding: .25em;
    outline: thick solid grey;
    margin-bottom: 1em;
}

.page-title {
    padding-left: .25em;
    padding-right: .25em;
    outline: medium solid lightgrey;
    font-size: 48px;
    font-family: 'Pinyon Script', cursive;
    text-align: center;
}

/**
 * Photo Grid
 */
.photo-grid {
    text-align: center;
}

.photo-grid .row .columns {
    display: inline-block;
    float: none;
    margin-left: 0;
    vertical-align: middle;
}

.photo-grid img {
    max-width: 100%;
    width: 1000px;
}

/**
 * Slide Show
 */
 .slide-show {
    text-align: center;
}

.slide-show .thumbnails {
    display: flex;
    flex-flow: row;
    max-height: 5em;
    margin-bottom: .5em;
}

.slide-show .thumbnail-container {
    text-align: center;
    margin-left: .25em;
    margin-right: .25em;
}

.slide-show .thumbnail {
    object-fit: cover;
    min-height: 5em;
    max-height: 5em;
    opacity: .5;
}

.slide-show .zoom-prompt {
    pointer-events: none;
    position: relative;
    bottom: 1.9em;
    left: -40%;
}

.slide-show .zoom-prompt span{
    border-top-right-radius: .5em .5em;
    opacity: .7;
    background: rgba(255, 255, 255, 0.5);
}

.slide-show .active {
    opacity: 1;
}
/* Use a media query for hover to keep touch events from locking hover as true. */
@media (hover: hover) {
    .slide-show .thumbnail:hover { 
        opacity: 1
    }
}

.slide-show img {
    max-width: 100%;
    width: 1000px;
}

/**
 * Schedule
 */
.schedule ul {
    list-style-type: none;
}

.schedule .note {
    font-style: italic;
    padding-left: 2em;
}
